#main{
    width:fit-content;
    height:400px;
   
}

#imgCnx{
  
    margin-left: 190px;
    width: 160px;
    height: 50px;
}
#imgInsc{
    margin-top: 30px;
    margin-left: 190px;
    width: 160px;
    height: 50px;
}
.mainForm{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 30px;
    margin-top: 20px;
    padding-top: 70px;
    margin-left: 390px;
    border:solid 5px black;
    justify-content: center;
    height: 350px;
    width: 480px;
    background-color: rgba(28, 117, 87, 0.5);
    /*background-color: rgb(240, 176, 176);*/
    border-radius: 35px;
    
}
.inputForm{
    border: solid;
    border-bottom: solid 3px #5353c6;
    margin-top: 20px;
    margin-left: 200px;
    width: 180px;
    height: 35px;
    background-color: rgba(209, 206, 203, 0.493);
    border-radius: 5px;
    
}
.btn {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius:12px 0 12px 0;
    background: #035992;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
    margin-left: 200px;
    
  }
#inputMdp{
    margin-left: 75px;
}
#inputMail{
    margin-left: 143px;
}
#main{
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-image: url("images/covoiturage4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
